h1 {
    font-family: HUMANISM;
    position: relative;
    left: 150px;
    font-family: HUMANISM;
    font-style: bold;
    font-size: x-large 300px;
    font-weight: 900;
    line-height: normal;
    color: hsl(306, 98%, 51%);
}

h2 {
    font-family: HUMANISM;
    position: relative;
    left: 150px;
    font: size 40px;
    font-family: HUMANISM;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: hsl(306, 98%, 51%);
}

h3 {
    font-family: HUMANISM;
    position: relative;
    left: 150px;
    font: size 20px;
    font-family: HUMANISM;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: hsl(300, 100%, 1%);
}

body {
    font-family: HUMANISM;
    position: relative;
    left: 150px;
    font: size 30px;
    font-family: HUMANISM;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: hsl(306, 98%, 51%);
}

.frame {
    background-image: url('images/deckled-yellow.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -1390px;
    margin-left: -30px;
    width: 100%;
    height:100%;
    position:relative;
    overflow:hidden;
    z-index: -100;
  }

.container {
    position: fixed;
    bottom:20px;
    right: 80%;
}

.container-1 {
    position: fixed;
    top:20px;
    right: 80%;
}

.container-2 {
    position: fixed;
    bottom:35px;
    right: 80%;
}

.links {
    background-position-x:fixed;
    margin: 0px 151px;
    padding: 0px;
}

.sub-head {
    margin: 0px 151px;
    padding: 0px;
}
