* {
  box-sizing:border-box;
}
body {
  margin:0;
}

main {
  width:100vw;
  height:100vh;
  background-color:rgb(240, 220, 38);
  display:flex;
  align-items:right;
}

h1 {
  position: relative;
  left: 150px;
  font: size 60px;
  font-family: HUMANISM;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #FDE408;
}

h2 {
  font-size:120px;
  font-family: tilda;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FDE408;
  position:relative;
}

.frame {
  background-image: url('images/pika-collared.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin:auto;
  height:100%;
  bottom:60px;
  text-align:center;
  position:relative;
  overflow:hidden;
}

.container {
  border-image: url(images/logo-horiz.png);
  margin-top: 0px;
  margin-left: 15%;
  position: absolute;
}


.gallery {
  background-image: url('images/gallery-0-open.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin: 10% 0%;
  height: 100%;
  bottom: 35%;
  text-align:center;
  position:relative;
}

.pika-img {
  width: 100%;
  z-index: 3;
  position:absolute;
  bottom: 160px;
  left: 20%;
}

.pika-ko-img {
  width:100%;
  position:absolute;
  bottom: 160px;
  left: 20%;
}

.logo-img {
  width: 100%;
  margin-top: 0%;
  position: absolute;
}

.pika-wiggle {
  animation-name: wiggle;
  animation-duration:2s;
  animation-timing-function: linear;
  animation-iteration-count: 4;
  animation-direction: alternate;
  transform:rotate(0deg);
}

@keyframes wiggle {
  0% {
    transform:rotate(0deg);
  }
  50% {
    transform:rotate(-15deg);
  }
  100% {transform:rotate(15deg);}
}

.pika-img {
  position: absolute;
}

.rock-img {
  position: absolute;
  bottom:-160px;
  left:20%;
  right:0;
  width:70%;
  z-index:3;
}

/* START OF NAV CODE */
.nav {
  display: block;
  position: absolute;
  top: 20px;
  left: 60px;
  width: 100%;
  z-index: 900;
}

.icon {
  position: fixed;
  cursor: pointer;
  top: 60px;
  left: 55px;
  width: 40px;
  height: 45px;
  transform: translate(-50%, -50%);
  display: block;
  z-index: 1000;
  padding: 26px;
  border-radius: 50%;
}

.burger {
  width: 40px;
  height: 4px;
  line-height: 70px;
  background-color:rgb(240, 220, 38);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
  transition: 0.5s;
}

.burger:before,
.burger:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 4px;
  background-color:rgb(240, 220, 38);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.burger:before {
  top: -10px;
}

.burger:after {
  top: 10px;
}

.icon.active .burger {
  background: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

.icon.active .burger:before {
  top: 0;
  transform: rotate(45deg);
}

.icon.active .burger:after {
  top: 0;
  transform: rotate(135deg);
}

.menu-mobile {
  background-color:none;
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 999;
  padding-top: 150px;
  font-family: 'Humanism', sans-serif;
  text-align: left;
}

.menu-mobile,
.menu-mobile a {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.menu-mobile a {
  clear: right;
  text-decoration: none;
  color: rgb(240, 220, 38);
  height: 70px;
  line-height: 70px;
}
.menu-mobile a:hover {
  color: white;
}

.menu-mobile {
  display: none;
}
/* END OF NAV CODE */
