* {
  box-sizing:border-box;
}
body {
  margin:0;
  background-color: #FDE408;
}

main {
  width:100vw;
  height:100vh;
  display:flex;
  align-items:right;
}

h1 {
  position: relative;
  left: 150px;
  font: size 60px;
  font-family: HUMANISM;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #FDE408;
}

h2 {
  font-size:120px;
  font-family: tilda;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FDE408;
  position:relative;
}

h3 {
  font-size:40px;
  font-family: tilda;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  color: #f9f9f7;
  position:relative;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

h4 {
  font-size: 10px;
  font-family: HUMANISM;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #f9f9f7;
  position:relative;
  margin-top: 0px;
}

.frame {
  background-image: url('images/flower-power.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin:auto;
  height:100%;
  margin-top: 115px;
  bottom:60px;
  text-align:center;
  position:relative;
  overflow:hidden;
}

.page-01 {
  background-image: url('images/national-geo.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin:auto;
  height:100%;
  margin-top: 115px;
  bottom:60px;
  text-align:center;
  position:relative;
  overflow:hidden;
}

.page-02 {
  background-image: url('images/pika-collared.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin:auto;
  height:100%;
  margin-top: 115px;
  bottom:60px;
  text-align:center;
  position:relative;
  overflow:hidden;
}

/*--
.page-03 {
  background-image: url('images/gallery-0-open.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 95%;
  border-radius: 10px;
  margin:auto;
  height:95%;
  margin-top: 95px;
  bottom: 80px;
  position:relative;
}
--*/

.page-04 {
  background-image: url('images/seated-american-pika.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin:auto;
  height:100%;
  margin-top: 115px;
  bottom:60px;
  text-align:center;
  position:relative;
  overflow:hidden;
}

.container {
  border-image: url(images/logo-horiz.png);
  margin-top: 50px;
  margin-left: 5%;
  position: absolute;
  z-index: 900;
}

/*-- 
.gallery {
  background-image: url('images/gallery-0-open.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin: 10% 0%;
  height: 100%;
  bottom: 35%;
  text-align:center;
  position:relative;
}
--*/

/*-- START GALLERY --*/
.slider {
	width: 90%;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

.slide-content {
	display: grid;
	grid-template-columns:auto;
}

.slide-content .text-content {
  margin-left: 20px;
}

.slide-content img {
  width: 95%;
  border-radius: 10px;
}

.slick-initialized .slick-slide {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.kitten-slide img {
  width: 100%;}

.kitten-slide img {
  width: 100%;
}

.kitten-slide {
  margin: 0 0;}
/*-- END --*/

.pika-img {
  width: 100%;
  z-index: 3;
  position:absolute;
  bottom: 160px;
  left: 20%;
}

.logo-img {
  width: 100%;
  margin-top: 0%;
  position: absolute;
}

/* START OF NAV CODE */
.nav, .desktop {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 900;
}

.icon {
  position: fixed;
  cursor: pointer;
  top: 5%;
  right: 0%;
  width: 40px;
  height: 45px;
  transform: translate(-50%, -50%);
  display: block;
  z-index: 1000;
}

.hamburger {
  width: 40px;
  height: 4px;
  line-height: 70px;
  background: #FDE408;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: .5s;
}

.hamburger:before,
.hamburger:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 4px;
  background: #FDE408;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: .5s;
}

.hamburger:before {
  top: -10px;
}

.hamburger:after {
  top: 10px;
}

.icon.active .hamburger {
  background: rgba(0,0,0,0);
  box-shadow: 0 2px 5px rgba(0,0,0,0);
}

.icon.active .hamburger:before {
  top: 0;
  transform: rotate(45deg);
}

.icon.active .hamburger:after {
  top: 0;
  transform: rotate(135deg);
}

.menu-mobile {
  background-color: #efefef;
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 999;
  padding-top: 150px;
  font-family: 'Humanism', sans-serif;
  font-weight: 400;
  text-align: center;
  text-shadow: 0 2px 5px rgba(0,0,0,.2);
}

.menu-mobile, .menu-mobile a {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.menu-mobile a {
  clear: right;
  text-decoration: none;
  color: #FDE408;
  height: 70px;
  line-height: 70px;
}
.menu-mobile a:hover {
  color: rgb(251, 249, 249);
}

.desktop, .menu-desktop, .menu-mobile {
      display: none;
  }
/* END OF NAV CODE */
