* {
    box-sizing:border-box;
  }
  body {
    margin:0;
    background-color: #9b0a0a;
  }
  
  main {
    width:100vw;
    height:100vh;
    display:flex;
    align-items:right;
  }

  h1 {
    position: relative;
    left: 10px;
    font: size 60px;
    font-family: HUMANISM;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #f9f6f6;
  }

  h1-sub {
    font-family: HUMANISM;
    font-size: 60px;
    position: relative;
    font-weight: 900;
    color: #9b0a0a;
  }
  
  h2 {
    left: 10px;
    font-size:10px;
    font-family: HUMANISM;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    color: #faf7f7;
    position:relative;
  }

  h2-sub {
    left: 10px;
    font-size:15px;
    font-family: HUMANISM;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #faf7f7;
    position:relative;
  }
  
  h3 {
    font-size:40px;
    font-family: tilda;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    color: #f9f9f7;
    position:relative;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  
  h4 {
    font-size: 25px;
    font-family: HUMANISM;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: black;
    position:relative;
    margin-top: 0px;
  }

  h5{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    align-content: center;
    padding: 0% 20%;
    color: black;
  }
  
  .frame {
    background-image: url('images/checkerboard-bg-1440x1100.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin:auto;
    height:100%;
    margin-top: 130px;
    bottom:60px;
    text-align:center;
    position:relative;
    overflow:hidden;
  }

  .frame-2 {
    background-image: url('images/checkerboard-bg-1440x1100.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin:auto;
    height:100%;
    margin-top: 0px;
    bottom:0px;
    text-align:center;
    position:relative;
    overflow:hidden;
  }
  
  .header {
    margin-left:20%;
    text-align: center;
    position:fixed;
  }

  /*-- Start Page One Flexboxes --*/
  .border {
    border: 1px solid #9b0a0a;
  }
  
  .flexbox {
    display:flex;
    width:100%;
    margin:auto;
    margin-top:150px;
    text-align: left;
  }

  .flexbox-2 {
    display:flex;
    width:30%;
    margin:auto;
    margin-top:195px;
    text-align: left;
  }
  .flexbox div {
    flex:1;
    border-radius: 10px;
    background-color:rgba(255,255,255,.6);
  }

  .flexbox div {
    flex:2;
    margin: 70px 30px;
  }
  
  .menu-1 {
    position: relative;
  }

  .menu-2 {
    position: relative;
    margin-top: 7px;
    width: 100%
  
  }
  /*-- End --*/
  
  .page-02 {
    width: 90%;
    margin:auto;
    height:30%;
    bottom: 50px;
    text-align:left;
    position:relative;
  }

  .content-1 {
    width: 90%;
    height: 60%;
    margin: 80px auto;
    border-radius: 10px;
    background-color:rgba(255,255,255,.6);
    padding: 90px 30px;
  }
  
  .content {
    width: 60%;
    height: 60%;
    margin: 80px auto;
    border-radius: 10px;
    background-color:rgba(255,255,255,.6);
    padding:80px;
  }

  .content-2 {
    width: 80%;
    height: 60%;
    margin: 80px auto;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0.911);
    padding:80px;
  }

  /*-- Start Page 3 images--*/
  
  .page-four-pic-two {
    position:absolute;
    border-radius: 10px;
    left: -150px;
    top: -40%;
    width: 200;
    transform:rotate(-10deg);
  }

  .page-four-pic-three {
    position:absolute;
    border-radius: 10px;
    left: -125px;
    top: 25%;
    width: 300;
    transform:rotate(5deg);
  }
  .page-four-pic-four {
    position:absolute;
    border-radius: 10px;
    left: 85%;
    top: -40%;
    width: 300;
    transform:rotate(5deg);
  }
  .page-four-pic-five {
    position:absolute;
    border-radius: 10px;
    left: 90%;
    top: 50%;
    width: 300;
    transform:rotate(-3deg);
  }
  /*-- End --*/

  .container {
    border-image: url(images/logo-2.png);
    margin-top: 20px;
    margin-left: 20px;
    position: fixed;
    z-index: 900;
  }
  
  .logo-img {
    width: 100%;
    margin-top: 0%;
    position: absolute;
  }
  
  /* START OF NAV CODE */
  .nav, .desktop {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 900;
  }
  
  .icon {
    position: fixed;
    cursor: pointer;
    top: 5%;
    right: 0%;
    width: 40px;
    height: 45px;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 1000;
  }
  
  .hamburger {
    width: 40px;
    height: 4px;
    line-height: 70px;
    background: #9b0a0a;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 2px 5px rgba(250, 249, 249, 0.2);
    transition: .5s;
  }
  
  .hamburger:before,
  .hamburger:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: #9b0a0a;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(248, 246, 246, 0.2);
    transition: .5s;
  }
  
  .hamburger:before {
    top: -10px;
  }
  
  .hamburger:after {
    top: 10px;
  }
  
  .icon.active .hamburger {
    background: rgba(248, 246, 246, 0);
    box-shadow: 0 2px 5px rgba(247, 245, 245, 0);
  }
  
  .icon.active .hamburger:before {
    top: 0;
    transform: rotate(45deg);
  }
  
  .icon.active .hamburger:after {
    top: 0;
    transform: rotate(135deg);
  }
  
  .menu-mobile {
    background-color: #efefef;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding-top: 150px;
    font-family: 'Humanism', sans-serif;
    font-weight: 400;
    text-align: center;
    text-shadow: 0 2px 5px rgba(248, 246, 246, 0.2);
  }
  
  .menu-mobile, .menu-mobile a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .menu-mobile a {
    clear: right;
    text-decoration: none;
    color: #9b0a0a;
    height: 70px;
    line-height: 70px;
  }
  .menu-mobile a:hover {
    color: rgb(251, 249, 249);
  }
  
  .desktop, .menu-desktop, .menu-mobile {
        display: none;
    }
  /* END OF NAV CODE */
  