body {
  margin: 0;
  padding: 0;
  background-image: url('images/checkerboard-bg-1440x1100.jpg');
}

h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 800;
  color: rgb(226, 3, 3);
}

h4{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 800;
  align-content: center;
  color: black;
}

h5{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  align-content: center;
  color: black;
}

.page {
  width: 100vw;
  height: 100vh;
}
.content {
  width: 60%;
  height: 60%;
  margin: 80px auto;
  background-color:rgba(255,255,255,.6);
  padding:80px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 400vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  position:relative;
}

.logo {
  position:absolute;
  top: 40px;
  left:40px;
  width:163px;
}
.one,
.two,
.three,
.four {
  background-image:url('images/checkerboard.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  width: 100vw;
  position:relative;
}
.one {
  /* background: rgb(251, 190, 190); */
}
.two {
  /* background: rgb(185, 229, 241); */
}
.three {
  /* background: rgb(198, 251, 190); */
  display: flex;
}
.three.content {
  width:20%;
}
.three div {
  flex:1;
}
.three .right-content {
  margin-top:200px;
}
.four {
  /* background: rgb(246, 190, 251); */
}
.page-one-pic-one {
  position:absolute;
  left: -200px;
  top: 10%;
  width: 260;
  transform:rotate(-15deg);
}
.page-one-pic-two {
  position:absolute;
  left: -60px;
  top: 30%;
  width: 300;
  transform:rotate(10deg);
}
.page-one-pic-three {
  position:absolute;
  left: 0;
  top: 60%;
  width: 300;
  transform:rotate(5deg);
}

.page-two-pic-one {
  position:absolute;
  left: -200px;
  top: 10%;
  width: 260;
  transform:rotate(-15deg);
}
.page-two-pic-two {
  position:absolute;
  left: -60px;
  top: 30%;
  width: 300;
  transform:rotate(10deg);
}
.page-two-pic-three {
  position:absolute;
  left: 0;
  top: 60%;
  width: 300;
  transform:rotate(5deg);
}
.page-two-pic-pie-menu {
  position:absolute;
  left: 50%;
  top: 25%;
  transform:rotate(0deg);
}
.page-two-pic-pie-menu-two {
  position:absolute;
  left: 50%;
  top: 25%;
  transform:rotate(0deg);
}

main {
  margin-top:90px;
  background-color:rgb(199, 219, 199);
}
.flex {
  display:flex;
  width:80%;
  margin:auto;
}
.flex div {
  flex:1;
  
}
.flex .left {
  padding-right:60px;
}

.page-three-pic-one {
  position:absolute;
  left: -200px;
  top: 10%;
  width: 260;
  transform:rotate(-15deg);
}
.page-three-pic-two {
  position:absolute;
  left: -60px;
  top: 30%;
  width: 300;
  transform:rotate(10deg);
}
.page-three-pic-three {
  position:absolute;
  left: 0;
  bottom: 60%;
  width: 300;
  transform:rotate(5deg);
}
.page-three-pic-four {
  position:absolute;
  left: 72%;
  top: 1%;
  width: 300;
  transform:rotate(3deg);
}

.page-four-pic-two {
  position:absolute;
  left: -35px;
  top: 40%;
  width: 300;
  transform:rotate(10deg);
}
.scroll {
  height:40%;
  overflow:scroll;
}
.page-four-pic-three {
  position:absolute;
  left: -1%;
  bottom: 2%;
  width: 300;
  transform:rotate(5deg);
}
.page-four-pic-four {
  position:absolute;
  left: 70%;
  top: 1%;
  width: 300;
  transform:rotate(10deg);
}
.page-four-pic-five {
  position:absolute;
  left: 80%;
  top: 25%;
  width: 300;
  transform:rotate(8deg);
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
.kitty {
  width: 40%;
  margin: auto;
}
