
 .slider {
	width: 90%;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

.slide-content {
	display: grid;
	grid-template-columns:auto;
}

.slide-content .text-content {
  margin-left: 10px;
  margin-right: 20px;
}

.slide-content img {
  width: 95%;
  border-radius: 10px;
}

.slick-initialized .slick-slide {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.kitten-slide img {
  width: 100%;}

.kitten-slide img {
  width: 100%;
}

.kitten-slide {
  margin: 0 0;}


/* for Sam G only */
.slick-slide { margin: 8px; width: 220px;}
